/*
.main-banner{
    background: #4b6cb7;  
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  
    background: linear-gradient(to right, #182848, #4b6cb7);
    color: #fff;
}
*/
/* Lo desactive para que no me ocupe solo la seccion,
*  y lo pase al body para pintarlo completo y no dejar espacios en blanco
*/

@media screen and (min-width: 1024px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 1200px;
    }
}

.title{
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
}

.description{
    font-size: 0.8rem;         
}

.description-p{
    color: #fcd683;
    font-size: 2rem;
}


@media screen and(min-width: 1024px) {
    .title{
        font-size: 2.5rem;
    }

    .description{
        font-size: 1rem;
        line-height: 3rem;
    }
}

/*Fin titulo y descripcion*/

/*Inicio countdown*/

.countdown{
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    .countdown{
        justify-content: start; 
    }
}

.countdown-item{
    padding: 0 .75rem;
    align-items: center;
    position: relative;
}

.countdown-item:not(:last-of-type):before{
    position: absolute;
    right: 0;
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background: #fff;
    opacity: .5rem;
}

.countdown-number{
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: 0.25rem;
}

.countdown-letter{
    opacity: 0.5;
}

/*Fin countdown*/

/*Formulario*/

.form-container{
    height: 2.5rem;
    margin-bottom: 2rem;
}

.form{
    display: inline-flex;
}

.input{
    line-height: 2.5rem;
    width: 15rem;
    background: none;
    border: 1px solid rgb(255, 255, 255, .4);
    padding: 0 .5rem;
    border-radius: .25rem 0 0 .25rem;
}

.input::placeholder{
   color: rgb(255, 255, 255, .5);
}

.button{
    padding: 0 1rem;
    border-radius: 0 .25rem .25rem 0;
    border: none;
}

.form-hint{
    font-size: .7rem;
    margin: 1rem 0 1rem;
}